<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Your IP Pet</title>

<body class="container bg-dark text-white">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">IP Pets</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarOptions"
                aria-controls="navbarOptions" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarOptions">

                <div class="navbar-nav">

                    <a href="/this_ip_pet" class="nav-link nav-item">This IP's Pet</a>

                    <a href="/project_info" class="nav-link nav-item">Project Info</a>

                    <a href="/suggestions" class="nav-link nav-item">Suggestions Box</a>

                    <a href="/changelog" class="nav-link active nav-item">Changelog</a>

                </div>

            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-6">
            <p>Currently changes are being made almost every day, but most recent changes were:</p>
            <ul>
                <li>
                    Fixed more backend API things, to further secure SQL queries
                </li>
                <li>
                    Small styling fixes on multiple pages, collapsable nav bar and changelog (See below!)
                </li>
                <li>
                    Added suggestions box, donation page
                </li>
                <li>
                    Cleaned up landing page, but more work to come!
                </li>
                <li>
                    Removed unnecessary/non-functional pages until functionality is complete
                </li>
            </ul>

            <p><a role="button" aria-expanded="false" aria-controls="previousChangelog"
                    data-bs-toggle="collapse" href="#previousChangelog">Previous changelog</a></p>
                <div>
                    <div class="collapse" id="previousChangelog">
                        Changelog 10/19/22 -
                        <ul>
                            <li>
                                Added navbar and pages linked to navbar
                            </li>
                            <li>
                                Updated API image fetching, sanitizing inputs so mogrify wouldn't kill it
                            </li>
                            <li>
                                Small edits to styling on page, everything currently in permanent dark mode
                            </li>
                            <li>
                                Minor changes to Database, with more likely incoming. I will try not to kill the pets
                                again, from
                                here on out, but...things happen.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>








    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>

</html>